# Avaliando o desempenho do program Sócio Torcedor com base em eventos que acontecem com o time

In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
df = pd.read_excel('eventos.xlsx')
df.head()

        Data                       Evento                Tipo
0 2023-07-29  Contratação James Rodrigues             Notícia
1 2023-08-02      Contratação Lucas Moura             Notícia
2 2023-08-03    Derrota San Lorenzo (ida)  Copa Sul-Americana
3 2023-08-06          Derrota Atlético-MG         Brasileirão
4 2023-08-10    São Paulo 2x0 San Lorenzo  Copa Sul-Americana

In [3]:
fatos_novos = {}
data = []
evento = []
tipo = []

In [4]:
# Caso queira adicionar mais de um evento (em datas diferentes), rode essa célula mais de uma vez e em seguida retire o caractere de # no inicio de cada linha dessa e da próxima célula
# Caso nao queira adicionar nenhum evento não precisa fazer nada

#data.append(fatos_novos['Data']) if len(fatos_novos) != 0 else None

#data.append(input("Digite a data no formato: dd/mm/aaaa "))
#evento.append(input('Digite o nome do evento: '))
#tipo.append(input("Digite a tipo do evento (noticia/campeonato disputado/etc)"))

In [5]:
#fatos_novos.update(dict(Data=data))
#fatos_novos.update(dict(Evento=evento))
#fatos_novos.update(dict(Tipo=tipo))

In [6]:
fn = pd.DataFrame(fatos_novos)
df = pd.concat([df,fn])
df['Data'] = df['Data'].astype('datetime64[ns]')
df.to_excel('eventos.xlsx', index=False)

C:\Users\João Fernando\AppData\Local\Temp\ipykernel_2916\3186366796.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Data'] = df['Data'].astype('datetime64[ns]')

In [7]:
df_var = pd.read_excel('Variacao.xlsx')
df_var.tail()

         Data  Quantidade Sócios  Crescimento #  Crescimento %
21 2023-08-19              53235            388       0.007342
22 2023-08-20              53799            564       0.010595
23 2023-08-21              53863             64       0.001190
24 2023-08-22              54625            762       0.014147
25 2023-08-23              55063            438       0.008018

In [8]:
novo_df = pd.merge(df_var, df, how='left', on='Data')
novo_df[['Evento', 'Tipo']] = novo_df[['Evento', 'Tipo']].fillna('')
novo_df.tail()

,Data,Quantidade Sócios,Crescimento #,Crescimento %,Evento,Tipo
21,2023-08-19,53235,388,0.007342,São Paulo 0 x 0 Botafogo,Brasileirão
22,2023-08-20,53799,564,0.010595,,
23,2023-08-21,53863,64,0.001190,Divulgação Ingressos vs. LDU,Notícia
24,2023-08-22,54625,762,0.014147,,
25,2023-08-23,55063,438,0.008018,,

In [9]:
novo_df.head(25)

,Data,Quantidade Sócios,Crescimento #,Crescimento %,Evento,Tipo
0,2023-07-27,40647,0,0.000000,,
1,2023-07-28,41168,521,0.012818,,
2,2023-07-29,42644,1476,0.035853,Contratação James Rodrigues,Notícia
3,2023-07-30,42847,203,0.004760,,
4,2023-08-01,44802,1955,0.045627,,
5,2023-08-03,47363,2561,0.057163,Derrota San Lorenzo (ida),Copa Sul-Americana
6,2023-08-04,48628,1265,0.026709,,
7,2023-08-05,48826,198,0.004072,,
8,2023-08-06,48904,78,0.001598,Derrota Atlético-MG,Brasileirão
9,2023-08-07,48887,-17,-0.000348,,
10,2023-08-08,48897,10,0.000205,,
11,2023-08-09,48980,83,0.001697,,
12,2023-08-10,49298,318,0.006492,São Paulo 2x0 San Lorenzo,Copa Sul-Americana
13,2023-08-11,49423,125,0.002536,,
14,2023-08-12,49599,176,0.003561,,
15,2023-08-13,49704,105,0.002117,São Paulo 1x1 Flamengo,Brasileirão
16,2023-08-14,49865,161,0.003239,,
17,2023-08-15,49977,112,0.002246,,
18,2023-08-16,50123,146,0.002921,São Paulo 2x0 Corinthians,Copa do Brasil
19,2023-08-17,51787,1664,0.033198,,
20,2023-08-18,52847,1060,0.020468,,
21,2023-08-19,53235,388,0.007342,São Paulo 0 x 0 Botafogo,Brasileirão
22,2023-08-20,53799,564,0.010595,,
23,2023-08-21,53863,64,0.001190,Divulgação Ingressos vs. LDU,Notícia
24,2023-08-22,54625,762,0.014147,,